<div id="header">

    <header>

        <div class="container">

            <nav class="navbar navbar-inverse">

                <div class="container-fluid">

                    <div class="navbar-header">

                        <div class="navbar-header">

                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#page-header" aria-expanded="false">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="/">Guia d'instal·lació <span class="hidden-xs"> de Guifi.net</span></a>

                        </div>

                    </div>

                    <div class="collapse navbar-collapse" id="page-header">

                        <p class="navbar-text navbar-right"><a href="http://jaumesala.net" class="navbar-link">jaumesala.net</a></p>

                    </div>

                </div>
            </nav>

        </div>

    </header>

</div>