{: .list-unstyled }
* [Pagina inicial][index]
* [Introducció][intro]
* [Muntatge i instal·lació física de l'antena i del router][muntatge]
* [Modificar el firmware del router i buscar un punt d'accés Guifi.net][firmware1] [(2)][firmware2] [(3)][firmware3] [(4)][firmware4] [(5)][firmware5]
* [Alta a Guifi.net][alta1] [(2)][alta2]
* [Configuració del router][router]
* [Configuració final (proxy)][proxy] [(2)][proxy2]

---

[index]: index.html
[intro]: intro.html
[muntatge]: muntatge.html
[firmware1]: firmware.html
[firmware2]: firmware2.html
[firmware3]: firmware3.html
[firmware4]: firmware4.html
[firmware5]: firmware5.html
[alta1]: alta.html
[alta2]: alta2.html
[router]: router.html
[proxy]: proxy.html
[proxy2]: proxy2.html