<nav id="main-anv" class="well">
    <ol>
        <li>
            <a href="intro.html">Introducció i passos previs</a>
        </li>
        <li>
            <a href="muntatge.html">Instal·lació física dels aparells</a>
        </li>
        <li>
            <a href="firmware.html">Modificar el firmware del router</a>
            <ul>
                <li><a href="firmware-buffalo-whr-g54s.html">Buffalo WHR-G54S</a></li>
                <li><a href="firmware-linksys-wrt-54gl.html">Linksys WRT-54GL</a></li>
            </ul>
        </li>
        <li>
            <a href="ap.html">Buscar un punt d'accés</a>
        </li>
        <li>
            <a href="alta.html">Alta a Guifi.net</a>
            <ul>
                <li><a href="node.html">Creació d'un node</a></li>
                <li><a href="trasto.html">Alta del trasto i la radio</a></li>
            </ul>
        </li>
        <li><a href="router.html">Configuració del router</a></li>
        <li>
            <a href="proxy.html">Configuració del proxy</a>
            <ul>
                <li><a href="proxy-ie.html">Internt Explorer</a></li>
                <li><a href="proxy-mf.html">Mozilla Firefox</a></li>
            </ul>
        </li>
    </ol>
</nav>